[Unit]
Description=Smart Meter
After=network.target

[Service]
ExecStart= /opt/smart_meter/.venv/bin/python app.py
WorkingDirectory=/opt/smart_meter
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target